*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.about-hero{ 
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    justify-content: center;   
}
.about-hero p{
    font-weight: 500 !important;
    font-size: 20px;
}
.about-hero h5{
    font-size: 25px;
    font-weight: 700;
}
.about-hero-img{
    background-color: red;
    width: 100%;
    height: 300px;
    background-image: url(../images/white.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.med-team{
    background-color: #003a92;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 4% !important;
}
.ceo-box{
    background-color: dodgerblue;
    width: 40%;
    height: 65%;
    border-radius: 20px;
    color: whitesmoke;
    padding: 1% !important;
}
.ceo-box i{
    font-size: 70px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 5px white; 
    -webkit-text-fill-color: white;
}
.ceo-box p{
    font-size: 15px;
    font-weight: lighter;
}
.ceo{
    /* background-color: red; */
    width: 50%;
    height: 15%;
    display: flex;
    gap: 10px;
    /* align-items: center; */
}
.ceo img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.ceo p{
    font-size: 10px !important;
    font-weight: 0 !important;
}
.ceo-det{
    /* background-color: cyan; */
    width: 60%;
    height: 90%;
}
.ceo-list{
    /* background-color: springgreen; */
    width: 50%;
    height: 65%;
    padding: 1%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.ceo-list p{
    font-size: 30px;
}
.ceo-list ul{
    /* background-color: red; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 3% !important;
    list-style: circle;
}
.ceo-list a{
    background-color: rgb(3, 3, 153);
    padding: 12px 20px !important;
    text-decoration: none;
    border-radius: 6px;
    width: 20%;
    font-size: 13px;
    white-space: nowrap;
    margin-top: 20px !important;
}
.mxn{
    /* background-color: whitesmoke; */
    width: 100%;
    margin-top: 40px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4% !important;
}
.mxn-box{
    /* background-color: springgreen; */
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.mxn-box img{
    /* border: 1px solid black; */
    width: 35%;
    height: 100%;
    border-radius: 10px;
}
.mxn-txt{
    /* border: 1px solid black; */
    width: 60%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#txt-hd{
    font-size: 15px;
    font-weight: 600;
}
#txt-sub{
    font-weight: 750;
    font-size: 25px;
}
#txt-cnt{
    font-size: 15px;
}
.spxlst-box{
    /* background-color: whitesmoke; */
    width: 100%;
    height: 500px;
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}
.spxlst-head{
    /* background-color: red; */
    width: 25%;
    height: 17%;
    text-align: center;
    font-weight: 500;
    padding: 1% 0 !important;
}
#sml{
    font-size: 20px;
}
#big{
    font-size: 25px;
}
.spec-box{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4% !important;
}
.spec-card{
    background-color: white;
    width: 95%;
    max-width: 400px;
    height: 90%;
    border-radius: 5%;
    text-align: center;
    font-weight: 500;
}
.spec-card img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
footer{
    background-color: #003a92;
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media screen and (max-width: 1200px){
    .med-team{
        flex-direction: column-reverse;
    }
    .ceo-list{
        max-width: 800px;
        width: 95%;
    }
    .ceo-box{
        max-width: 800px;
        width: 95%;
        margin-top: 30px !important;
    }
    .mxn-box{
        flex-direction: column;
    }
    .mxn-box:nth-child(2){
        margin-top: 50px !important;
        flex-direction: column-reverse;
    }
    .mxn-txt{
        max-width: 800px;
        width: 95%;
        text-align: center;
    }
    .mxn-box img{
        width: 80%;
        max-width: 450px;
        margin-bottom: 30px !important;

    }
   
}

@media screen and (max-width: 670px){
    .about-hero{
        padding: 0 2% !important;
    }
    .about-hero h5{
        text-align: center;
        font-size: 15px;
    }
    #txt-sub{
        font-size: 20px !important;
    }
    .ceo-list p{
        font-size: 25px;
    }
    .ceo-list > li{
        font-size: 10px;
    }
}

@media screen and (max-width:414px){
    .about-hero{
        height: 90px;
    }
    .ceo-list{
        width: 100%;
        gap: 5% !important;
    }
    .ceo-list > ul > li{
        font-size: 12px !important;
        font-weight: 300 !important;
    }
    .ceo-list > a{
        width: 30%;
        padding: 1% 5% !important;
        text-align: center !important;
    }
    .ceo-box{
        height: 300px !important;
        display: flex;
        flex-direction: column;
        gap: 1%;
        padding: 1% 2% !important;
    }
    .ceo-box i{
        font-size: 55px;
    }
    .ceo-box p{
        font-size: 10px;
        font-weight: lighter;
    }
}