*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.cont-wrp{
    /* background-color: rgba(245, 245, 245, 0.795); */
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/hero-three.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-blend-mode: lighten; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.cont-wrp:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url("/images/hero-three.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.left{
	/* background-image: url("/images/hero-three.jpg") no-repeat center; 
 background-size: cover; */
	height: 100%;
    width: 100%;
    /* background-color: red; */
}
.main-cont-box{
    /* background-color: whitesmoke;
    width: 95%;
    max-width: 500px;
    height: 75%;
    box-shadow: 7px 5px 5px rgb(155, 155, 155);
    border-radius: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center; */
    width: 1000px;
    border-radius: 2%;
    height: 75%;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.main-cont-box p{
    font-size: 20px;
    font-weight: 500;
}
.cnt-info-box{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.info{
    /* background-color: springgreen; */
    width: 70%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info p{
    font-size: 15px !important;
}
.info input{
    height: 60%;
    padding: 0 2% !important;
    border: none;
    
    width: 100%;
    box-shadow: 5px 3px 5px grey;
}
.info input::placeholder{
    font-weight: 600;
    text-align: center;
}
.send-mail{
    
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.send-mail input{
    padding: 2% !important;
    background-color: transparent;
    border: none;
    width: 100%;
    box-shadow: 2px 2px 5px grey;
    outline: none;
}
#mailbx{
    width: 100%;
    height: 60%;
}
.send-mail button{
    border: none;
    width: 40%;
    height: 15%;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgb(185, 185, 185);
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}
.left img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}