@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

#carouselExampleCaptions{
    width: 100%;
    height: 600px;
}
.carousel-inner {
    width: 100%;
    height: 100%;
    /* border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px; */
}

.carousel-item img {
    width: 100%; /* Resize the image to fit the container */
    height: 100%;
    /* border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px; */
    object-fit: cover;
}
.carousel-caption {
    color: #d40606; 
    font-size: 2rem; 
    /* font-family: Arial, sans-serif;  */
    text-shadow: 0px 0px 10px black; 
    margin-bottom: 300px !important;
  }
  .carousel-control-prev,
.carousel-control-next {
  background-color: #2e2e2e69 !important;
  color: black !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.rsn-wrp{
    /* background-color: red;    */
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5%;
}
.rsn-img-wrp{
    /* background-color: springgreen; */
    width: 40%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.rsn-txt-wrp{
    /* background-color: springgreen; */
    width: 55%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     padding-right: 60px !important;

}
#rsn-hd{
    font-size: 40px;
    font-weight: 800;
}

.rsn-txt-wrp > p > span{
    font-weight: 750 !important;
    color: dodgerblue;
    font-size: 20px;
}
#drk{
    color: rgb(3, 3, 153);
}
#drkt{
    background-color: rgb(3, 3, 153) !important;
}
.psxn-wrp{
    /* background-color: orangered; */
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.psxn-wrp img{
    width: 60%;
    height: 70%;
    position: absolute;
}
#fimg{
    border-radius: 100%;
    bottom: 100px;
    right: 220px;
    z-index: 2;
    width: 50%;
    height: 45%;
    border-left: 5px solid dodgerblue;
    box-shadow: 5px 5px 5px dodgerblue;
}
#simg{
    border-radius: 100%;
    top: 230px;
    z-index: 2;
    height: 45%;
    width: 50%;
    left: 200px;
    /* border-right: 5px solid rgb(154, 0, 201); */
    /* border-bottom: 5px solid rgb(154, 0, 201); */
    box-shadow: 5px 5px 5px dodgerblue;
}
#timg{
    border-radius: 100%;
    bottom: 200px;
    height: 55%;
    width: 60%;
    left: 170px;
    /* border-right: 5px solid rgb(154, 0, 201); */
    /* border-top: 5px solid rgb(154, 0, 201); */
    box-shadow: 5px 5px 5px dodgerblue;
}

.card-wrp{
    /* background-color: red; */
    width: 100%;
    height: 500px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card-wrp p{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Calistoga', cursive;
}
.cards-cont{
    /* background-color: springgreen; */
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw !important;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    height: max-content;
    padding-bottom: 20px !important;
}
.card-title{
    font-size: 15px !important;
    font-family: 'Calistoga', cursive;
}
.card-text{
    font-size: 15px !important;
}
.btn{
    width: 50%;
    height: 25%;
    display: flex;
    align-items: center !important;
    font-size: 12px !important;
    background-color: dodgerblue !important;
    border: none !important;
    color: white !important;
    padding: 15px 30px !important;
}

.teeth-impo{
    background-color: rgb(248, 248, 248);
    width: 100%;
    margin-top: 50px;
    padding: 0 2% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% !important;
    margin: 50px 0 !important;
}
.imp-txt{
    /* background-color: springgreen; */
    width: 55%;
    height: 95%;
    font-family: 'Calistoga', cursive;
}
.imp-txt p{
    font-family: 'Calistoga', cursive;
}
#imp-hd{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Calistoga', cursive;
}
#imp-sub{
    font-weight: 100 !important;
}
.imp-img{
    /* background-color: red; */
    width: 40%;
    height: 95%;
}
.imp-img img{
    width: 100%;
    height: 90%;
}
.explore{
    /* background-color: whitesmoke; */
    width: 100%;
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding: 40px 5% !important;
}
.explore > a{
    background-color: dodgerblue;
    padding: 0.5% 5% !important;
    text-decoration: none;
    font-size: 13px !important;
    border-radius: 10px;
    padding: 12px 20px !important;
    margin-top: 10px !important;
}
footer{
    background-color: #003a92;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
.sitebx{
    /* background-color: red; */
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.sitebx img{
    height: 100%;
    width: 95%;
    margin-bottom: 30px !important;
}

@media screen and (max-width: 1200px){
    #carouselExampleCaptions{
        width: 100%;
        height: 400px;
    }
    .carousel-item img{
        height: 400px;
    }
    .rsn-wrp{
        flex-direction: column;
        height: 100%;
        padding-bottom: 70px !important;
    }   
    .rsn-img-wrp{
        height: 600px;
    }
    .rsn-txt-wrp{
        text-align: center;
        width: 90%;
        max-width: 800px;
        padding-right: 0 !important;
    }
    .card-wrp{
        height: max-content;
    }
    .cards-cont{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: max-content !important;
        gap: 40px;
    }
    .card{
        width: 100%;
    }
    .teeth-impo{
        justify-content: center;
    }
    .teeth-impo .imp-img{
        display: none;
    }
    .teeth-impo .imp-txt{
        width: 90%;
        max-width: 800px;
        text-align: center;
    }
}

@media screen and (max-width: 670px){
    .cards-cont{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .card{
        max-width: 500px;
        margin: 0 auto;
    }
    .rsn-wrp .img_ img{
        width: 80%;
        margin: 0 auto;
    }
    .rsn-wrp .img_{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #rsn-hd,#imp-hd{
        font-size: 25px !important;
    }
    .rsn-txt-wrp{
        width: 100% !important;
        padding: 0px 20px !important;
    }
    .teeth-impo .imp-txt{
        width: 100% !important;
    }
}