*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.res-hero{
    background-color: grey;
    width: 100%;
    height: 300px;
    margin-bottom: 15px !important;
}
.res-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.res-wrp{
    margin-top: 50px !important;
    /* background-color: grey; */
    width: 100%;
    height: 400px;
    padding: 0 4% !important;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
}   
.res-card{
    background-color: white;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% !important;
    border-radius: 10px;
    box-shadow: 5px 3px 10px rgb(231, 231, 231);
}
.card-image{
    width: 40%;
    height: 90%;
    /* background-color: red; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px whitesmoke;
    background-image: url(/images/impo-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.txt-holder{
  width: 55%;
  height: 95%;
  /* background-color: springgreen; */
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.txt-holder > h3{
  font-size: 16px;
  height: 30%;
}
.txt-holder > p{
  font-size: 14px;
  height: 30%;
}
.txt-holder > a{
  background-color: dodgerblue;
  width: 40%;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
  @media screen and (max-width: 1200px) {
    .res-wrp{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1% 4% !important;
    }
    .card{
      padding: 2%;
    }
}
@media screen and (max-width: 680px) {
  .res-wrp{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding: 1% 4% !important;
      height: 1000px;
  }
  .card{
    padding: 2%;

  }
}

@media screen and (max-width: 600px ) {
  .txt-holder > h3{
    font-size: 14px;
    height: 30%;
  }
  .txt-holder > p{
    font-size: 12px;
    height: 30%;
  }
  .txt-holder > a{
    width: 40%;
    font-size: 11px;
    color: white;
  }
}