<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Stylesheet/about.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div ng-include="'../Component/Navbar.html'"></div>
    <div ng-controller="aboutController">
        <div class="about-hero">
            <p>Expert Medical Assistance</p>
            <h5>Our team helps you get your dentition back on track</h5>
        </div>
        <div class="about-hero-img"></div>
        <div class="med-team">
            <div class="ceo-box">
                <i class="bi bi-quote"></i>
                <p>"With the launch of this website, we hope to create a convenient and informative platform for our patients to learn about our services, connect with our team, and access helpful resources to maintain their oral health. Our team of expert dentists and dental professionals are committed to providing the best possible care to each and every patient. We understand that dental care can be a daunting and often overlooked aspect of overall health, which is why we are dedicated to providing compassionate and comprehensive care to all our patients. We hope that this website will not only serve as a resource for our patients but also encourage others to prioritize their oral health and seek out the care they need."</p>
                <div class="ceo">
                    <img src="/images/ceo.jpg" alt="">
                    <div class="ceo-det">
                        <p>Dr. Kinglsey Henshaw</p>
                        <p>Medical Practictioner and CEO</p>
                    </div>
                </div>
            </div>
            <div class="ceo-list">
                <p>Experienced in Various Dental Related Issues</p>
                <ul>
                    <li>Tooth decay: Erosion of tooth enamel due to bacteria and acid, leading to cavities.</li>
                    <li>Gum disease: Bacterial infection causing inflammation, bleeding, and tooth loss.</li>
                    <li>Tooth sensitivity: Nerve exposure causing pain or discomfort when eating or drinking hot/cold foods.</li>
                    <li>Tooth grinding: Bruxism, causing tooth wear, jaw pain, and headaches.</li>
                    <li>Oral cancer: Life-threatening cancer in the mouth, including tongue, gums, and lips.</li>
                    <li>Bad breath: Foul odor due to poor oral hygiene or other dental problems.</li>
                </ul>
                <a href="/">See More</a>
            </div>
        </div>
        <div class="mxn">
            <div class="mxn-box">
                <img src="/images/story.jpg" alt="">
                <div class="mxn-txt">
                    <p id="txt-hd">Our Story</p>
                    <p id="txt-cnt">Belleville Dental Service started with a vision to provide exceptional dental care to the community. It all began with a small team of passionate dentists who believed in the power of a beautiful smile. They saw a need for a dental practice that focused on not only treating dental problems but also on educating patients on the importance of oral health. They started by offering their services to family and friends, and soon enough, the word spread. Patients were amazed at the level of care they received and how their dental health improved. As demand grew, they decided to open a dental practice to serve more people in the community.</p>
                </div>
            </div>
            <div class="mxn-box">
                <div class="mxn-txt">
                    <p id="txt-hd">Our Mission</p>
                    <p id="txt-cnt">At Belleville Dental Service, our mission is to provide high-quality dental care and education to our patients in a comfortable and welcoming environment. We are dedicated to promoting good oral health and helping our patients achieve their best smiles. Our goal is to exceed our patients' expectations by delivering excellent customer service and personalized care. We strive to create long-lasting relationships with our patients built on trust, respect, and open communication.</p>
                </div>
                <img src="/images/mxn.jpg" alt="">
            </div>
        </div>
      </div>
      <div class="spxlst-box">
        <div class="spxlst-head">
            <p id="sml">Our Team</p>
            <p id="big">Meet Our Specialists</p>
        </div>
        <div class="spec-box">
            <div class="spec-card">
                <img src="/images/ceo.jpg" alt="">
                <p>KINGSLEY HENSHAW</p>
                <p>Student1346180</p>
                <p>APTECH Student</p>
            </div>
        </div>
        
      </div>
      <script src="/Scripts/index.js"></script>
      <script src="../Controllers/aboutController.js"></script>
      <script src="../Controllers/navbarController.js"></script>
</body>
</html>