<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Stylesheet/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div ng-include="'../Component/Navbar.html'"></div>  
    <div ng-controller="homeController">
        <div class="home-hero">
          <span>Belleville Dental Service</span>
          <p>Creating Dental Awareness For Millions Of People Around The World</p>
          <a href="../Views/about.html">Get To Know Us More</a>
        </div>

          <div class="rsn-wrp">
            <div class="rsn-img-wrp">
                <div class="psxn-wrp">
                    <img src="/images/hero-one.jpg" alt="" id="fimg">
                    <img src="/images/hero-two.jpg" alt="" id="simg">
                    <img src="/images/hero-three.jpg" alt="" id="timg">
                </div>
            </div>

            <div class="img_">
              <img src="../images/Screenshot 2023-04-12 at 21.06.49.png" alt="">
            </div>

            <div class="rsn-txt-wrp">
                <p id="rsn-hd">There Are Lots of Reasons To Choose Us</p>
                <p><span>Speed:</span> We prioritize efficient dental care and treatment to ensure that you get the relief you need as quickly as possible. Our team understands the importance of prompt service and works hard to meet your needs in a timely manner.</p>
                <p><span id="drk">Simplicity:</span> We believe that quality dental care shouldn't be complicated. Our services are designed to be straightforward and easy to understand. </p>
                <p><span>Reliability:</span> You can trust our experienced and knowledgeable team to provide you with reliable dental care. We use the latest techniques and technology to ensure that you receive the highest level of treatment possible.</p>
                <p><span id="drk">Effieciency:</span> We understand that your time is valuable, and we work hard to maximize the efficiency of our dental services.</p>
                <p><span>Customer Friendly:</span> Our team is dedicated to providing the highest level of customer service to all of our patients.</p>
            </div>
          
        </div>

          <div class="card-wrp">
            <p>Others Include</p>
            <div class="cards-cont">
                <div class="card">
                    <img src="../images/hero-one.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Free Consultation</h5>
                      <p class="card-text">We offer a free consultation to all our patients, ensuring that you are fully informed about your dental health options before making any decisions.</p>
                      <a href="../Views/about.html" class="btn btn-primary">View More</a>
                    </div>
                  </div>
                  <div class="card">
                    <img src="../images/hero-one.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Expert Dental Analysis</h5>
                      <p class="card-text">We use state-of-the-art technology and techniques to perform a thorough dental analysis, ensuring that we identify any potential issues</p>
                      <a href="../Views/about.html" class="btn btn-primary" id="drkt">View More</a>
                    </div>
                  </div>
                  <div class="card">
                    <img src="../images/hero-one.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Highly Rated</h5>
                      <p class="card-text">We have a reputation for providing high-quality dental care to our patients. Our commitment to excellence has earned us high ratings and positive reviews</p>
                      <a href="../Views/about.html" class="btn btn-primary">View More</a>
                    </div>
                  </div>
            </div>
          </div>

          <div class="teeth-impo">
            <div class="imp-txt">
                <p id="imp-hd">Here's An Important Warning About Bad Dentition</p>
                <p id="imp-sub">Maintaining good dental health is crucial to your overall well-being. Poor oral hygiene and dental health can lead to various oral diseases, including cavities, gum disease, and even tooth loss. It can also cause bad breath, pain, and discomfort, making it difficult to eat and speak. In summary, poor dental health can have serious consequences and impact your overall health and quality of life. Maintaining good oral hygiene habits and seeking professional dental care is crucial for maintaining healthy teeth and gums and reducing the risk of oral diseases and other health conditions.</p>
            </div>
            <div class="imp-img">
                <img src="/images/impo-img.png" alt="">
            </div>
          </div>

          <div class="explore">
            <p>Belleville provides comprehensive dental resources and services, including patient education, dental procedures, and expert analysis, all in one convenient online platform. With a focus on simplicity, speed, and reliability, Belleville is the perfect choice for anyone seeking high-quality dental care and information.</p>
            <a href="">Explore More</a>
          </div>
      </div>
      
      <script src="/Scripts/index.js"></script>
      <script src="../Controllers/homeController.js"></script>
      <script src="../Controllers/navbarController.js"></script>
</body>
</html>