<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Stylesheet/product.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div ng-include="'../Component/Navbar.html'"></div> 

    <div class="product_container">
        <div class="select_container">
            <label for="">Category</label>
            <select name="" id="" >
                <option value="all" selected ><h5>All</h5></option>
                <option value="all" >Tooth brush</option>
                <option value="all" >Tooth paste</option>
                <option value="all" >For Kids</option>
                <option value="all" >Electrical accessories</option>
            </select>
        </div>
        <div class="product_content">
            <div class="_card">
                <img src="../images/electbrsh.jpg" alt="">
                <h5>Tooth brush</h5>
                <p>Keep your teeth and gums healthy with our high-quality toothbrush. Its soft bristles gently clean your teeth and remove plaque without causing any damage to your enamel.</p>
            </div>
            <div class="_card">
                <img src="../images/artif.jpg" alt="">
                <h5>Artififcial Teeth</h5>
                <p>Say goodbye to missing teeth with our state-of-the-art artificial teeth. Our dental specialists will create custom-made dentures that fit perfectly in your mouth and restore your smile to its natural beauty.</p>
            </div>
            <div class="_card">
                <img src="../images/5516867.jpg" alt="">
                <h5>Tooth Paste</h5>
                <p>ur advanced toothpaste is specially formulated to give you strong, healthy teeth and fresh breath. It contains fluoride to prevent cavities, and its unique formula cleans and whitens your teeth without harsh abrasives.</p>
            </div>
            <div class="_card">
                <img src="../images/tools.jpg" alt="">
                <h5>Electrical Tools</h5>
                <p>Our electrical dentist tools provide a comfortable and efficient way to maintain your oral health. Our range of tools includes electric toothbrushes, water flossers, and air polishers, which can help you remove plaque, stains, and food debris from your teeth and gums.</p>
            </div>
        </div>

    </div>

    <script src="/Scripts/index.js"></script>
</body>
</html>