<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Stylesheet/research.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div ng-include="'../Component/Navbar.html'"></div>
    <div class="res-hero">
      <img src="../images/dentchekup.jpg" alt="">
    </div>
    <div class="res-wrp">
        <div class="card">
            <h3 class="card-title">Oral health-related quality of life in patients with dentofacial deformities</h3>
            <p class="card-text">Author: Y. K. Kim, K. M. Lee, and Y. H. Kim</p>
            <a class="card-link" href="https://doi.org/10.1016/j.oooo.2011.03.013">View</a>
          </div>
          <div class="card">
            <h3 class="card-title">Periodontal Disease: Consensus report of workgroup 2 of the 2017 World Workshop on the Classification of Periodontal and Peri-Implant Diseases and Conditions</h3>
            <p class="card-text">Author: Jane Doe</p>
            <a class="card-link" href=" https://doi.org/10.1002/JPER.17-0517">View</a>
          </div>
          <div class="card">
            <h3 class="card-title">The current state of adult orthodontics</h3>
            <p class="card-text">Author: Kenji Ojima and others</p>
            <a class="card-link" href=" https://www.jstage.jst.go.jp/article/jslsm/29/4/29_11/_pdf">View</a>
          </div>
          <div class="card">
            <h3 class="card-title">The Future of Dentistry</h3>
            <p class="card-text">Speaker: Simon Chard</p>
            <a class="card-link" href="https://www.youtube.com/watch?v=V8W2RJ_vvVQ">Watch</a>
          </div>
          <div class="card">
            <h3 class="card-title">Dental Anatomy and Physiology</h3>
            <p class="card-text">Speaker: Dr. Gordana Stjepanovic</p>
            <a class="card-link" href="https://www.youtube.com/watch?v=5ZWZz9pZjtw">Watch</a>
          </div>
          <div class="card">
            <h3 class="card-title">The Benefits of Invisalign</h3>
            <p class="card-text">Speaker: Invisalign</p>
            <p class="card-text">Year: 2020</p>
            <a class="card-link" href=" https://www.youtube.com/watch?v=d96RxvBXPj0">Watch</a>
          </div>
    </div> 

    <script src="/Scripts/index.js"></script>
    <script src="/Controllers/researchController.js"></script>
    <script src="../Controllers/navbarController.js"></script>
</body>
</html>