*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.container-fluid{
    background-color: dodgerblue;
    width: 100%;
    height: 50px;
    display: flex;
    /* align-items: center; */
    padding: 0 4% !important;
    gap: 20%;
    border-bottom: 1px solid whitesmoke;
}
.navbar-brand{
    width: 15%;
    height: 90%;
    display: flex;
    align-items: center;
    font-size: 30px !important;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: whitesmoke !important;
}
ul{
    width: 55%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    list-style: none;
    /* background-color: white;
    color: black !important; */
}
a{
    text-decoration: none;
    color: whitesmoke !important;
    font-family: 'Calistoga', cursive;
}
.dropdown-menu{
    /* width: 130px !important; */
    height: 130px;
    padding: 0 10% !important;
}
.dropdown-menu > li{
    padding: 0 1%;
}
.dropdown-menu > li > a{
    color: black !important;
}
@media (max-width: 991px) {
    
    ul{
        width: 30%;
        height: 95% !important;
        background-color: white;
        /* color: black !important; */
    }
    ul > li > a{
    color: black !important;
    }
  }
  
 
  